<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>Hello <%= local.user || "Please log in" %>
    </h1>
    <p><a href="/users">Users Page</a></p>
    <p><a href="/users/new">Create new User</a></p>
    <p><a href="/posts">Posts Page</a></p>
    <p><a href="/posts/new">Create new Post</a></p>
</body>
</html>