<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    
</head>
<body>
    <h1>Register User</h1>
    <form action="/users" method="post">
        <fieldset>
            <legend>Name</legend>
            <label for="">
            First Name<input type="text"name="firstName" value="<%= locals.firstName %>">
        </label>
        <br>
        <label for="">
            Last Name<input type="text"name="lastName" value="<%= locals.firstName %>">
        </label>
        </fieldset>
        <br>
        <fieldset>
            <legend>Gender</legend>
            <label for="">
        Male<input type="radio" name="gender" value="male">
       </label>
       <label for="">
        Female<input type="radio" name="gender" value="female">
       </label>
        </fieldset>
         <br>
         <fieldset>
            <legend>Age</legend>
            <label for="">
        Age<input type="number" name="age" >
       </label>
         </fieldset>
         <br>
        <button type="submit">Submit</button>

    </form>
    
</body>
</html>